@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 20px;
}
.TableTitle {
  font-size: 24px;
  font-weight: bold;
  padding: 0 0 20px 0;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
